#img_logo{
    width: auto;
    height: 50px;
  }
  
.form-control {
    background-color: transparent;
    border-color: rgba(255,255,255,.1);
    height: 50px;
    border-radius: 0;
    box-shadow: none;
}

.form-control:focus {
  background-color: transparent;
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
  
nav{
  background-color: #420d79;
  padding: 8px 16px 8px 16px !important;
}

.navbar-dark .navbar-toggler {
  color: #fff !important;
  border-color: #fff !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff !important;
  font-weight: bold !important;
}

#home{
  background-image: url('../assets/images/1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.title-blog{
  color: white;
  text-align: center;
}

.btn-start {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 14px 40px;
  border: 1px solid #6e6d6c;
  border-radius: 4px;
  margin-top: 40px;
}
.btn-start:hover{
  border-color: #028fcc;
  background-color: #420d79;
}

a:link, a:visited, a:active {
  text-decoration:none;
}

p{
  color: #fff;
}

.content-home{
  position: absolute;
  top: 50%;
  margin-top: -104px;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  z-index: 15;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}

#services h2{
  margin: 50px 0 50px 0;
  font-size: 30px;
}

#services h3{
  font-size: 18px;
}

/*************************
********Service CSS*******
**************************/

.service-icon {
  background: #420d79;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 36px;
  height: 90px;
  line-height: 90px;
  width: 90px;  
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.our-services .col-sm-4:hover .service-icon {
  background-color: #028fcc;
}

.our-services .col-sm-4 {
  padding-bottom: 50px;
}

.our-services .col-sm-4:nth-child(4), 
.our-services .col-sm-4:nth-child(5), 
.our-services .col-sm-4:nth-child(6) {
  border-bottom:0;
  padding-top: 60px;
}

.our-services .col-sm-4:nth-child(3), 
.our-services .col-sm-4:nth-child(6) {
  border-right:0;
}

.service-info h3 {
  margin-top: 35px;
}

.blue-text{
  color: #028fcc;
}

/*************************
********About CSS*******
**************************/
#about-us {
  background-image: url(../assets/images/nosotros.png);
  padding: 10% 0;
}

#about-us h2 {
  margin-top: 0;
  color: #fff;
}

#about-us .lead {
  font-size: 16px;
  margin-bottom: 10px;
}

#about-us h1 {
  margin-bottom: 30px;
}

.parallax, .parallax h1, .parallax h2, .parallax h3, .parallax h4, .parallax h5, .parallax h6 {
  color: #fff;
}

.parallax, .parallax h1, .parallax h2, .parallax h3, .parallax h4, .parallax h5, .parallax h6 {
  color: #fff;
}
.parallax {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/********* CONTACT***********/
#contact-us input,textarea,a{
  color: #fff !important;
}
#contact-us {
  padding-top: 45px;
  padding-bottom: 0;
  background-image:url(../assets/images/contact-bg.jpg);
  padding-bottom: 90px; 
}

.btn-submit {
  background-color: #420d79;
  display: block;
  padding: 12px;
  width: 100%;
  color: #fff;
  border: 0;
  margin-top: 40px;
}

/***** FOOTER *********/
#footer p{
  color: #028fcc !important;
}
#footer {
  color:#fff;
  background-color: #420d79;
}

.footer-top {
  position: relative;
  padding:30px 0
}

#footer .footer-bottom {
  background-color: #fff;
  padding: 20px 0 10px;
}

#footer .footer-bottom a:hover {
  text-decoration: underline;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 5px;
}

.img-responsive, .thumbnail a>img, .thumbnail>img {
  display: block;
  max-width: 100%;
  height: auto;
}

#footer .social-icons {
  margin-top: 15px;
}

#footer .social-icons ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

#footer .social-icons ul li a {
  background-color: rgba(0,0,0,.2);
  border-radius: 4px;
  line-height: 33px;
}

#footer .social-icons ul li a:hover {
  color: #fff
}

#footer .social-icons ul li a.envelope:hover {
  background-color: #CECB26;
}

#footer .social-icons ul li a.facebook:hover {
  background-color: #3b5999;
}
#footer .social-icons ul li a.twitter:hover {
  background-color: #2ac6f7;
}
#footer .social-icons ul li a.dribbble:hover {
  background-color: #ff5b92;
}
#footer .social-icons ul li a.linkedin:hover {
  background-color: #036dc0;
}
#footer .social-icons ul li a.tumblr:hover {
  background-color: #ff6b00;
}

.social-icons ul li {
  float: left;
  margin-right: 8px;
}

@media (max-width: 767px){
  .social-icons ul li a {
      font-size: 14px;
      height: 30px;
      line-height: 30px;
      width: 30px;
  }
}

.social-icons ul li a {
  color: #fff;
  background-color: #d9d9d9;
  height: 36px;
  width: 36px;
  line-height: 36px;
  display: block;
  font-size: 16px;
  opacity: 0.8;
}